#root {
  padding: 0rem;
  text-align: center;
}

#main-body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-size: 'cover';
  background-position: 'center';
  background-color: #223365;
}

.footer a {
  font-weight: 1000;
  color: rgb(222, 222, 116);
}

.footer a:hover {
  color: rgb(116, 222, 222);
}

.footer h2 {
  font-size: 30px;
  padding-top: 11px;
  margin-bottom: 10px;
}

.bordered-letter {
  -webkit-text-stroke: 0.1px black;
  color: white;
}

.dates-light {
  color: #555577;
}

.footer {
  height: 120px;
  margin-top: 40px;
}