#root {
  padding: 0rem;
  text-align: center;
}

#main-body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.footer {
  background-size: 'cover';
  background-position: 'center';
  background-color: #223365;
}

.footer a {
  color: rgb(222, 222, 116);
}

.footer a:hover {
  color: rgb(116, 222, 222);
}

.footer h2 {
  font-size: 30px;
  padding-top: 11px;
  margin-bottom: 10px;
}

.bordered-letter {
  -webkit-text-stroke: 0.1px black;
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dates-light {
  color: #999999;
}

.footer {
  height: 120px;
  margin-top: 40px;
}
