.image-change-box {
    border-radius: 12px;
    padding: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto; /* auto margins horizontally */
    width: 120px;
    height: 120px;
    position: relative;
    padding-top: 35px;
  }
  
  .profile-img {    
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease;
  }
  
  .default-img {
    opacity: 1;
  }
  
  .hover-img {
    opacity: 0;
  }
  
  .image-change-box:hover .default-img {
    opacity: 0;
  }

  .image-change-box:hover .image-container {
    margin: 0 auto 12px auto;
  }
  
  .image-change-box:hover .hover-img {
    opacity: 1;
  }

  